/* SCSS - Variables */
$color_white: white;
$color_cyan: #07F6F9;
$color_black: #2D2D2D;

$font_size_h3: 30px;
$font_size_h1: 90px;
$font_size_P: 20px;

$font_size_botonera: 25px;
$font_size_h3_mobile: 30px;
$font_size_h1_mobile: 48px;
$font_size_P: 20px;

/* Index */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #2D2D2D;
	background-image: url("/img/background_image_4.jpg") no-repeat center fixed;
	background-size: cover;
	color: white;
	height: 100%;
	width: auto;
}

a {
	color: $color_white;
	font-weight: 600;

	&:focus {
		color: $color_cyan;
	}

	&:hover {
		color: $color_cyan;
	}
}

img {
	width: 100%;
}

/* Botonera */
.boton {
	opacity: 0.5;
	display: inline-block;
	padding: 1em;
	text-decoration: none;
	background-image: linear-gradient($color_cyan, $color_cyan), linear-gradient($color_black, $color_black);
	background-size: 0 5px, auto;
	background-repeat: no-repeat;
	background-position: center bottom;
	transition: all .2s ease-out;

	&:hover {
		opacity: 1;
		background-size: 100% 3px, auto;
	}
}

.boton-activado {
	color: #07F6F9;
	font-weight: bold;
}

/* NavBar */
@import "./navbar";

/* Work */
@import "./work";

/* Contact */
@import "./contact";

/* About */
@import "./about";

/* Skills */
@import "./skills";

/* Grid */
@import "./grid";


/* Hamburger */
.hamburguer-btn {
	display: none;
}

.content {
	overflow: hidden;
	transition: max-height 0.5s ease-out;
}

/* Header */
header {
	display: flex;
	align-items: center;
	margin-top: 30px;
	border-top: 1px solid $color_white;
	justify-content: flex-end;
	height: 80px;
	z-index: 99;
}

header.grid-item {
	height: 80px;
}

/* Main */
.mainindex {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding: 50px 200px 400px 300px;
}

h3 {
	font-size: $font_size_h3;
}

h1 {
	font-size: $font_size_h1;
}

p {
	font-size: $font_size_P;
}

/* Footer */
footer {
	padding: 10px 0px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border-top: 1px solid $color_white;
}

footer.grid-item {
	height: 60px;
	margin-bottom: 20px;
}

.footer-container {
	display: flex;
	flex-direction: column;
}

/* Animaciones */
.delay1 {
	animation-delay: 0.25s;
}

.delay2 {
	animation-delay: 0.5s;
}

.delay3 {
	animation-delay: 0.7s;
}

/* Query Mobile */
@import "./mediaquery";